:root {
  font-weight: 400;

  color-scheme: light dark;
  background: #5945FE;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Space Mono', monospace;
}